@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* === Radius Tokens === */
:root {
  --radius-lg: 0.0625rem;
  --radius-lgx: 0.0625rem;
  --radius-xl: 0.125rem;
  --radius-2xl: 0.125rem;
  --radius-3xl: 0.1875rem;
  --radius-4xl: 0.25rem;
  --radius-full: 1000.0rem;
  --radius-action-1: 0.1999rem;
  --radius-action-2: 0.0rem;
}

/* === Color Tokens === */
:root {
  --accent: hsl(218 17% 19%);
  --accent-foreground: hsl(0 0% 100%);
  --alpha-0: hsl(215 61% 15% / 0%);
  --alpha-10: hsl(215 61% 15% / 10%);
  --alpha-2-5: hsl(215 61% 15% / 2%);
  --alpha-20: hsl(215 61% 15% / 20%);
  --alpha-30: hsl(215 61% 15% / 30%);
  --alpha-40: hsl(215 61% 15% / 40%);
  --alpha-5: hsl(215 61% 15% / 5%);
  --alpha-50: hsl(215 61% 15% / 50%);
  --alpha-60: hsl(215 61% 15% / 60%);
  --alpha-7-5: hsl(215 61% 15% / 8%);
  --alpha-70: hsl(215 61% 15% / 70%);
  --alpha-80: hsl(215 61% 15% / 80%);
  --alpha-90: hsl(215 61% 15% / 90%);
  --alpha-backdrop: hsl(0 0% 0% / 75%);
  --alpha-overlay: hsl(0 0% 100% / 60%);
  --background-1: hsl(300 12% 97%);
  --background-2: hsl(180 100% 100%);
  --badge-blue: hsl(210 100% 56%);
  --badge-gray: hsl(218 31% 90%);
  --badge-green: hsl(99 100% 35%);
  --badge-high: hsl(0 0% 0%);
  --badge-navy: hsl(219 50% 47%);
  --badge-orange: hsl(29 100% 45%);
  --badge-pink: hsl(313 100% 45%);
  --badge-purple: hsl(260 48% 54%);
  --badge-red: hsl(0 100% 46%);
  --badge-yellow: hsl(54 92% 54%);
  --border-high: hsl(218 17% 19%);
  --border-low: hsl(218 28% 86%);
  --border-medium: hsl(219 18% 62%);
  --brand: hsl(275 93% 17%);
  --card-1: hsl(180 100% 100%);
  --card-2: hsl(210 40% 98%);
  --card-3: hsl(214 37% 96%);
  --card-border: hsl(215 33% 93%);
  --cta-1: hsl(0 100% 46%);
  --cta-1-foreground: hsl(0 0% 100%);
  --cta-2: hsl(45 100% 51%);
  --cta-2-foreground: hsl(218 17% 19%);
  --cta-3: hsl(338 89% 47%);
  --cta-3-foreground: hsl(0 0% 100%);
  --danger: hsl(0 100% 46%);
  --danger-foreground: hsl(0 0% 100%);
  --danger-muted: hsl(13 100% 98%);
  --danger-text: hsl(0 100% 37%);
  --fill-high: hsl(219 18% 62%);
  --fill-low: hsl(215 33% 93%);
  --fill-medium: hsl(218 31% 90%);
  --focus: hsl(208 100% 69%);
  --foreground-high: hsl(218 17% 19%);
  --foreground-low: hsl(219 18% 62%);
  --foreground-medium: hsl(219 15% 40%);
  --informative: hsl(211 100% 50%);
  --informative-foreground: hsl(0 0% 100%);
  --informative-muted: hsl(204 100% 97%);
  --inv-accent: hsl(210 40% 98%);
  --inv-accent-foreground: hsl(218 17% 19%);
  --inv-alpha-0: hsl(0 0% 100% / 0%);
  --inv-alpha-10: hsl(0 0% 100% / 10%);
  --inv-alpha-2-5: hsl(0 0% 100% / 8%);
  --inv-alpha-20: hsl(0 0% 100% / 20%);
  --inv-alpha-30: hsl(0 0% 100% / 30%);
  --inv-alpha-40: hsl(0 0% 100% / 40%);
  --inv-alpha-5: hsl(0 0% 100% / 5%);
  --inv-alpha-50: hsl(0 0% 100% / 50%);
  --inv-alpha-60: hsl(0 0% 100% / 60%);
  --inv-alpha-7-5: hsl(0 0% 100% / 2%);
  --inv-alpha-70: hsl(0 0% 100% / 70%);
  --inv-alpha-80: hsl(0 0% 100% / 80%);
  --inv-alpha-90: hsl(0 0% 100% / 90%);
  --inv-alpha-backdrop: hsl(0 0% 0% / 75%);
  --inv-alpha-overlay: hsl(276 100% 4% / 60%);
  --inv-background-1: hsl(276 100% 5%);
  --inv-background-2: hsl(276 100% 5%);
  --inv-border-high: hsl(210 40% 98%);
  --inv-border-low: hsl(219 18% 62%);
  --inv-border-medium: hsl(220 24% 80%);
  --inv-brand: hsl(274 95% 93%);
  --inv-card-1: hsl(275 95% 8%);
  --inv-card-2: hsl(275 94% 13%);
  --inv-card-3: hsl(275 93% 17%);
  --inv-card-border: hsl(275 95% 30%);
  --inv-danger: hsl(0 100% 76%);
  --inv-danger-foreground: hsl(218 17% 19%);
  --inv-danger-muted: hsl(0 100% 26%);
  --inv-danger-text: hsl(0 100% 76%);
  --inv-fill-high: hsl(275 96% 37%);
  --inv-fill-low: hsl(275 94% 21%);
  --inv-fill-medium: hsl(275 95% 26%);
  --inv-focus: hsl(206 100% 82%);
  --inv-foreground-high: hsl(0 0% 100%);
  --inv-foreground-low: hsl(218 20% 68%);
  --inv-foreground-medium: hsl(218 28% 86%);
  --inv-informative: hsl(206 100% 82%);
  --inv-informative-foreground: hsl(218 17% 19%);
  --inv-informative-muted: hsl(211 100% 15%);
  --inv-link: hsl(206 100% 82%);
  --inv-primary-muted: hsl(342 100% 22%);
  --inv-primary-text: hsl(341 100% 82%);
  --inv-success: hsl(98 77% 66%);
  --inv-success-foreground: hsl(218 17% 19%);
  --inv-success-muted: hsl(98 100% 22%);
  --inv-success-text: hsl(98 77% 66%);
  --inv-visited: hsl(260 70% 82%);
  --inv-warning: hsl(55 100% 67%);
  --inv-warning-foreground: hsl(218 17% 19%);
  --inv-warning-muted: hsl(54 97% 25%);
  --inv-warning-text: hsl(55 100% 67%);
  --link: hsl(211 100% 46%);
  --primary: hsl(338 89% 47%);
  --primary-foreground: hsl(0 0% 100%);
  --primary-muted: hsl(272 100% 97%);
  --primary-text: hsl(338 89% 47%);
  --success: hsl(99 95% 39%);
  --success-foreground: hsl(218 17% 19%);
  --success-muted: hsl(96 100% 97%);
  --success-text: hsl(98 100% 27%);
  --visited: hsl(264 97% 62%);
  --warning: hsl(45 100% 51%);
  --warning-foreground: hsl(218 17% 19%);
  --warning-muted: hsl(60 100% 97%);
  --warning-text: hsl(34 98% 40%);
}

.dark {
  --accent: hsl(210 40% 98%);
  --accent-foreground: hsl(218 17% 19%);
  --alpha-0: hsl(0 0% 100% / 0%);
  --alpha-10: hsl(0 0% 100% / 10%);
  --alpha-2-5: hsl(0 0% 100% / 2%);
  --alpha-20: hsl(0 0% 100% / 20%);
  --alpha-30: hsl(0 0% 100% / 30%);
  --alpha-40: hsl(0 0% 100% / 40%);
  --alpha-5: hsl(0 0% 100% / 5%);
  --alpha-50: hsl(0 0% 100% / 50%);
  --alpha-60: hsl(0 0% 100% / 60%);
  --alpha-7-5: hsl(0 0% 100% / 8%);
  --alpha-70: hsl(0 0% 100% / 70%);
  --alpha-80: hsl(0 0% 100% / 80%);
  --alpha-90: hsl(0 0% 100% / 90%);
  --alpha-backdrop: hsl(0 0% 0% / 75%);
  --alpha-overlay: hsl(276 100% 4% / 60%);
  --background-1: hsl(276 100% 5%);
  --background-2: hsl(346 100% 5%);
  --badge-blue: hsl(206 100% 82%);
  --badge-gray: hsl(219 16% 35%);
  --badge-green: hsl(98 88% 83%);
  --badge-high: hsl(0 0% 100%);
  --badge-navy: hsl(219 48% 63%);
  --badge-orange: hsl(29 87% 74%);
  --badge-pink: hsl(313 60% 73%);
  --badge-purple: hsl(259 39% 72%);
  --badge-red: hsl(1 100% 89%);
  --badge-yellow: hsl(56 100% 82%);
  --border-high: hsl(210 40% 98%);
  --border-low: hsl(219 18% 62%);
  --border-medium: hsl(220 24% 80%);
  --brand: hsl(274 95% 93%);
  --card-1: hsl(275 95% 8%);
  --card-2: hsl(275 94% 13%);
  --card-3: hsl(275 93% 17%);
  --card-border: hsl(0 0% 100%);
  --cta-1: hsl(0 100% 46%);
  --cta-1-foreground: hsl(0 0% 100%);
  --cta-2: hsl(45 100% 51%);
  --cta-2-foreground: hsl(218 17% 19%);
  --cta-3: hsl(338 89% 47%);
  --cta-3-foreground: hsl(0 0% 100%);
  --danger: hsl(0 100% 76%);
  --danger-foreground: hsl(218 17% 19%);
  --danger-muted: hsl(0 100% 26%);
  --danger-text: hsl(0 100% 76%);
  --fill-high: hsl(275 96% 37%);
  --fill-low: hsl(275 94% 21%);
  --fill-medium: hsl(275 95% 26%);
  --focus: hsl(206 100% 82%);
  --foreground-high: hsl(0 0% 100%);
  --foreground-low: hsl(218 20% 68%);
  --foreground-medium: hsl(218 28% 86%);
  --informative: hsl(206 100% 82%);
  --informative-foreground: hsl(218 17% 19%);
  --informative-muted: hsl(211 100% 15%);
  --inv-accent: hsl(218 17% 19%);
  --inv-accent-foreground: hsl(0 0% 100%);
  --inv-alpha-0: hsl(215 61% 15% / 0%);
  --inv-alpha-10: hsl(215 61% 15% / 10%);
  --inv-alpha-2-5: hsl(215 61% 15% / 8%);
  --inv-alpha-20: hsl(215 61% 15% / 20%);
  --inv-alpha-30: hsl(215 61% 15% / 30%);
  --inv-alpha-40: hsl(215 61% 15% / 40%);
  --inv-alpha-5: hsl(215 61% 15% / 5%);
  --inv-alpha-50: hsl(215 61% 15% / 50%);
  --inv-alpha-60: hsl(215 61% 15% / 60%);
  --inv-alpha-7-5: hsl(215 61% 15% / 2%);
  --inv-alpha-70: hsl(215 61% 15% / 70%);
  --inv-alpha-80: hsl(215 61% 15% / 80%);
  --inv-alpha-90: hsl(215 61% 15% / 90%);
  --inv-alpha-backdrop: hsl(0 0% 0% / 75%);
  --inv-alpha-overlay: hsl(276 100% 4% / 60%);
  --inv-background-1: hsl(276 100% 5%);
  --inv-background-2: hsl(346 100% 5%);
  --inv-border-high: hsl(210 40% 98%);
  --inv-border-low: hsl(219 18% 62%);
  --inv-border-medium: hsl(220 24% 80%);
  --inv-brand: hsl(274 95% 93%);
  --inv-card-1: hsl(275 95% 8%);
  --inv-card-2: hsl(275 94% 13%);
  --inv-card-3: hsl(275 93% 17%);
  --inv-card-border: hsl(0 0% 0%);
  --inv-danger: hsl(0 100% 76%);
  --inv-danger-foreground: hsl(218 17% 19%);
  --inv-danger-muted: hsl(0 100% 26%);
  --inv-danger-text: hsl(0 100% 76%);
  --inv-fill-high: hsl(275 96% 37%);
  --inv-fill-low: hsl(275 94% 21%);
  --inv-fill-medium: hsl(275 95% 26%);
  --inv-focus: hsl(206 100% 82%);
  --inv-foreground-high: hsl(0 0% 100%);
  --inv-foreground-low: hsl(218 20% 68%);
  --inv-foreground-medium: hsl(218 28% 86%);
  --inv-informative: hsl(206 100% 82%);
  --inv-informative-foreground: hsl(218 17% 19%);
  --inv-informative-muted: hsl(211 100% 15%);
  --inv-link: hsl(206 100% 82%);
  --inv-primary-muted: hsl(342 100% 22%);
  --inv-primary-text: hsl(341 100% 82%);
  --inv-success: hsl(98 77% 66%);
  --inv-success-foreground: hsl(218 17% 19%);
  --inv-success-muted: hsl(98 100% 22%);
  --inv-success-text: hsl(98 77% 66%);
  --inv-visited: hsl(260 70% 82%);
  --inv-warning: hsl(55 100% 67%);
  --inv-warning-foreground: hsl(218 17% 19%);
  --inv-warning-muted: hsl(54 97% 25%);
  --inv-warning-text: hsl(55 100% 67%);
  --link: hsl(206 100% 82%);
  --primary: hsl(341 100% 82%);
  --primary-foreground: hsl(218 17% 19%);
  --primary-muted: hsl(342 100% 22%);
  --primary-text: hsl(341 100% 82%);
  --success: hsl(98 77% 66%);
  --success-foreground: hsl(218 17% 19%);
  --success-muted: hsl(98 100% 22%);
  --success-text: hsl(98 77% 66%);
  --visited: hsl(260 70% 82%);
  --warning: hsl(55 100% 67%);
  --warning-foreground: hsl(218 17% 19%);
  --warning-muted: hsl(54 97% 25%);
  --warning-text: hsl(55 100% 67%);
}

/* === Generated Hover/Active Tokens === */
:root {
  --primary-hover: hsl(338 89% 57%);
  --primary-active: hsl(338 89% 67%);
  --inv-primary-hover: hsl(0 0% 10%);
  --inv-primary-active: hsl(0 0% 20%);
  --fill-medium-hover: hsl(218 31% 80%);
  --fill-medium-active: hsl(218 31% 70%);
  --inv-fill-medium-hover: hsl(275 95% 36%);
  --inv-fill-medium-active: hsl(275 95% 46%);
  --transparent-hover: hsl(300 12% 3% / 10%);
  --transparent-active: hsl(300 12% 3% / 20%);
  --inv-transparent-hover: hsl(276 100% 95% / 10%);
  --inv-transparent-active: hsl(276 100% 95% / 20%);
  --danger-hover: hsl(0 100% 56%);
  --danger-active: hsl(0 100% 66%);
  --inv-danger-hover: hsl(0 100% 66%);
  --inv-danger-active: hsl(0 100% 56%);
}

.dark {
  --primary-hover: hsl(341 100% 72%);
  --primary-active: hsl(341 100% 62%);
  --inv-primary-hover: hsl(0 0% 10%);
  --inv-primary-active: hsl(0 0% 20%);
  --fill-medium-hover: hsl(275 95% 36%);
  --fill-medium-active: hsl(275 95% 46%);
  --inv-fill-medium-hover: hsl(275 95% 36%);
  --inv-fill-medium-active: hsl(275 95% 46%);
  --transparent-hover: hsl(276 100% 95% / 10%);
  --transparent-active: hsl(276 100% 95% / 20%);
  --inv-transparent-hover: hsl(276 100% 95% / 10%);
  --inv-transparent-active: hsl(276 100% 95% / 20%);
  --danger-hover: hsl(0 100% 66%);
  --danger-active: hsl(0 100% 56%);
  --inv-danger-hover: hsl(0 100% 66%);
  --inv-danger-active: hsl(0 100% 56%);
}

@theme inline {
  --radius-lgx: var(--radius-lgx);
  --radius-full: var(--radius-full);
  --radius-action-1: var(--radius-action-1);
  --radius-action-2: var(--radius-action-2);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-inv-primary-hover: var(--inv-primary-hover);
  --color-inv-primary-active: var(--inv-primary-active);
  --color-fill-medium-hover: var(--fill-medium-hover);
  --color-fill-medium-active: var(--fill-medium-active);
  --color-inv-fill-medium-hover: var(--inv-fill-medium-hover);
  --color-inv-fill-medium-active: var(--inv-fill-medium-active);
  --color-transparent-hover: var(--transparent-hover);
  --color-transparent-active: var(--transparent-active);
  --color-inv-transparent-hover: var(--inv-transparent-hover);
  --color-inv-transparent-active: var(--inv-transparent-active);
  --color-danger-hover: var(--danger-hover);
  --color-danger-active: var(--danger-active);
  --color-inv-danger-hover: var(--inv-danger-hover);
  --color-inv-danger-active: var(--inv-danger-active);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-alpha-0: var(--alpha-0);
  --color-alpha-10: var(--alpha-10);
  --color-alpha-2-5: var(--alpha-2-5);
  --color-alpha-20: var(--alpha-20);
  --color-alpha-30: var(--alpha-30);
  --color-alpha-40: var(--alpha-40);
  --color-alpha-5: var(--alpha-5);
  --color-alpha-50: var(--alpha-50);
  --color-alpha-60: var(--alpha-60);
  --color-alpha-7-5: var(--alpha-7-5);
  --color-alpha-70: var(--alpha-70);
  --color-alpha-80: var(--alpha-80);
  --color-alpha-90: var(--alpha-90);
  --color-alpha-backdrop: var(--alpha-backdrop);
  --color-alpha-overlay: var(--alpha-overlay);
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-badge-blue: var(--badge-blue);
  --color-badge-gray: var(--badge-gray);
  --color-badge-green: var(--badge-green);
  --color-badge-high: var(--badge-high);
  --color-badge-navy: var(--badge-navy);
  --color-badge-orange: var(--badge-orange);
  --color-badge-pink: var(--badge-pink);
  --color-badge-purple: var(--badge-purple);
  --color-badge-red: var(--badge-red);
  --color-badge-yellow: var(--badge-yellow);
  --color-border-high: var(--border-high);
  --color-border-low: var(--border-low);
  --color-border-medium: var(--border-medium);
  --color-brand: var(--brand);
  --color-card-1: var(--card-1);
  --color-card-2: var(--card-2);
  --color-card-3: var(--card-3);
  --color-card-border: var(--card-border);
  --color-cta-1: var(--cta-1);
  --color-cta-1-foreground: var(--cta-1-foreground);
  --color-cta-2: var(--cta-2);
  --color-cta-2-foreground: var(--cta-2-foreground);
  --color-cta-3: var(--cta-3);
  --color-cta-3-foreground: var(--cta-3-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-muted: var(--danger-muted);
  --color-danger-text: var(--danger-text);
  --color-fill-high: var(--fill-high);
  --color-fill-low: var(--fill-low);
  --color-fill-medium: var(--fill-medium);
  --color-focus: var(--focus);
  --color-foreground-high: var(--foreground-high);
  --color-foreground-low: var(--foreground-low);
  --color-foreground-medium: var(--foreground-medium);
  --color-informative: var(--informative);
  --color-informative-foreground: var(--informative-foreground);
  --color-informative-muted: var(--informative-muted);
  --color-inv-accent: var(--inv-accent);
  --color-inv-accent-foreground: var(--inv-accent-foreground);
  --color-inv-alpha-0: var(--inv-alpha-0);
  --color-inv-alpha-10: var(--inv-alpha-10);
  --color-inv-alpha-2-5: var(--inv-alpha-2-5);
  --color-inv-alpha-20: var(--inv-alpha-20);
  --color-inv-alpha-30: var(--inv-alpha-30);
  --color-inv-alpha-40: var(--inv-alpha-40);
  --color-inv-alpha-5: var(--inv-alpha-5);
  --color-inv-alpha-50: var(--inv-alpha-50);
  --color-inv-alpha-60: var(--inv-alpha-60);
  --color-inv-alpha-7-5: var(--inv-alpha-7-5);
  --color-inv-alpha-70: var(--inv-alpha-70);
  --color-inv-alpha-80: var(--inv-alpha-80);
  --color-inv-alpha-90: var(--inv-alpha-90);
  --color-inv-alpha-backdrop: var(--inv-alpha-backdrop);
  --color-inv-alpha-overlay: var(--inv-alpha-overlay);
  --color-inv-background-1: var(--inv-background-1);
  --color-inv-background-2: var(--inv-background-2);
  --color-inv-border-high: var(--inv-border-high);
  --color-inv-border-low: var(--inv-border-low);
  --color-inv-border-medium: var(--inv-border-medium);
  --color-inv-brand: var(--inv-brand);
  --color-inv-card-1: var(--inv-card-1);
  --color-inv-card-2: var(--inv-card-2);
  --color-inv-card-3: var(--inv-card-3);
  --color-inv-card-border: var(--inv-card-border);
  --color-inv-danger: var(--inv-danger);
  --color-inv-danger-foreground: var(--inv-danger-foreground);
  --color-inv-danger-muted: var(--inv-danger-muted);
  --color-inv-danger-text: var(--inv-danger-text);
  --color-inv-fill-high: var(--inv-fill-high);
  --color-inv-fill-low: var(--inv-fill-low);
  --color-inv-fill-medium: var(--inv-fill-medium);
  --color-inv-focus: var(--inv-focus);
  --color-inv-foreground-high: var(--inv-foreground-high);
  --color-inv-foreground-low: var(--inv-foreground-low);
  --color-inv-foreground-medium: var(--inv-foreground-medium);
  --color-inv-informative: var(--inv-informative);
  --color-inv-informative-foreground: var(--inv-informative-foreground);
  --color-inv-informative-muted: var(--inv-informative-muted);
  --color-inv-link: var(--inv-link);
  --color-inv-primary-muted: var(--inv-primary-muted);
  --color-inv-primary-text: var(--inv-primary-text);
  --color-inv-success: var(--inv-success);
  --color-inv-success-foreground: var(--inv-success-foreground);
  --color-inv-success-muted: var(--inv-success-muted);
  --color-inv-success-text: var(--inv-success-text);
  --color-inv-visited: var(--inv-visited);
  --color-inv-warning: var(--inv-warning);
  --color-inv-warning-foreground: var(--inv-warning-foreground);
  --color-inv-warning-muted: var(--inv-warning-muted);
  --color-inv-warning-text: var(--inv-warning-text);
  --color-link: var(--link);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-muted: var(--primary-muted);
  --color-primary-text: var(--primary-text);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-muted: var(--success-muted);
  --color-success-text: var(--success-text);
  --color-visited: var(--visited);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-muted: var(--warning-muted);
  --color-warning-text: var(--warning-text);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}